*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-track{
  background: #c9c5c5;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}